
body {
  background-image: url('../images/background.jpg');
}

h1 {
  font-family: "Roboto", cursive;
  font-weight: bold;
  font-size: 45px;
  text decoration: underline;
  text-align: center;
  color: blue;
}


h2 {
  @fontface
  font-family:'Lanterosy';
  src: url('..fonts/lanterosy.tff') format('truetype');
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 3px;
  color: red;
}


p {
font-family: 'Open Sans', sans-serif;
}


h3 {
  color: red;
}


p {
  color: green;
  font-weight: bold;
}



/*======================================================
